*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/misc.xml
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
.idea/misc.xml
.idea/caches/build_file_checksums.ser
*.ser
.idea/gradle.xml
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
app/src/main/java/tukangdagang/id/co/tukangdagang_koperasi/PendaftaranKoperasi.java
.idea/gradle.xml
.idea/caches/build_file_checksums.ser
